<!-- <app-header></app-header> -->
<div>
    <section class="intro" id="home">
      <h1 class="section--title section--title--intro">
        Welcome to my portfolio, I am <strong>Maryam Sajjadian</strong>
      </h1>
      <p class="section--subtitle section--subtitle--intro"> Geodata Specialist </p>
      <img src="assets\img\mariam2.jpg" alt="" class="intro--img" />
    </section>
    <section class="about-me" id="about">
      <p class="about-me__body">I am Maryam Sajjadian, a data analyst. I am skilled at data management, programming, and Web applications
        development; I have a working knowledge of python, JavaScript (react), rational and graph databases, and query
        languages. You can consider me as a curious and devoted employee with a lot of experience. I am an optimistic and
        passionate professional with solid technical and analytical skills. I have a strong ability to work autonomously and find
        novel approaches to a problem.</p>
    </section>

    <section class="my--work" id="myWork">
      <h2 class="section--title section--title--myWork">My Work</h2>
      <p class="section--subtitle section--subtitle--myWork"> Selected projects </p>

      <div class="portfolio">
        <a href="https://github.com/mariamsajadian/NLPcodes" target="_blank" rel="noreferrer" class="portfolio--item">
          <img src="assets\img\nlp2.jpg" alt="" class="portfolio--img" />
        </a>
        <a href="https://www.researchgate.net/publication/355152792_GeodataVisitor_a_component-based_Self-_service_GIS_application_Internship_Report" target="_blank" rel="noreferrer" class="portfolio--item">
          <img src="assets\img\web.png"  alt="" class="portfolio--img" />
        </a>
        <a href="https://netherlandstour.netlify.app/" target="_blank" class="portfolio--item" rel="noreferrer">
          <img src="assets\img\netherlandsMapTour.png" alt="" class="portfolio--img" />
        </a>
        <a href="https://github.com/mariamsajadian/Tic-Tac-Toe-in-React-" target="_blank" class="portfolio--item" rel="noreferrer">
          <img src="assets\img\game1.jpg" alt="" class="portfolio--img" />
        </a>

        <a href="https://github.com/mariamsajadian/Workflow-annotation" target="_blank" class="portfolio--item" rel="noreferrer">
          <img src="assets\img\RDF.png" alt="" class="portfolio--img" />
        </a>

        <a href="img/classdiagram2.png" target="_blank" class="portfolio--item" rel="noreferrer">
          <img src="assets\img\classdiagram2.png" alt="" class="portfolio--img" />
        </a>
        <a href="https://github.com/mariamsajadian/ChatBox" target="_blank" class="portfolio--item" rel="noreferrer">
          <img src="assets\img\chatBox.png" alt="" class="portfolio--img" />
        </a>
        <a href="https://github.com/mariamsajadian/weatherAPP" target="_blank" class="portfolio--item"rel="noreferrer">
          <img src="assets\img\weatherApp.png" alt="" class="portfolio--img" />
        </a>
        <a href="https://hardcore-newton-e67456.netlify.app/" target="_blank" class="portfolio--item" rel="noreferrer">
          <img src="assets\img\todolist.png" alt="" class="portfolio--img" />
        </a>
      </div>
    </section>
    <section>
    </section>
    <footer class="footer">
      <a href="mailto:mariamsajadian@yahoo.com" class="footer--link">mariamsajadian@yahoo.com</a>
      <ul class="social--list">
        <li class="social--list--item">
          <a class="social--list--link" href="https://www.linkedin.com/in/maryam-sajjadian-a91a771ba/"
            target="_blank" rel="noreferrer"><img src='assets\img\linkelin icon.png' alt="" class="socialMediaIcon" /></a>
        </li>
        <li class="social--list--item">
          <a class="social--list--link" href="https://www.researchgate.net/profile/Mariam-Sajadian"
            target="_blank" rel="noreferrer"><img src='assets\img\researchgate.png' alt="" class="socialMediaIcon" /></a>
        </li>
        <li class="social--list--item">
          <a class="social--list--link" rel="noreferrer" href="https://github.com/mariamsajadian" target="_blank"><img
            src='assets\img\github.png' alt="" class="socialMediaIcon" /></a>
        </li>
      </ul>
    </footer>
  </div>
